<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795367954588-umafss9nr2iknhuqcfl0urdbmhf8feof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795367954588-umafss9nr2iknhuqcfl0urdbmhf8feof</string>
	<key>API_KEY</key>
	<string>AIzaSyAWijHS3z_IBkWnfV5YIln2EfhONytgalY</string>
	<key>GCM_SENDER_ID</key>
	<string>795367954588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.t01FirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>t01firebaseauth</string>
	<key>STORAGE_BUCKET</key>
	<string>t01firebaseauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795367954588:ios:0dd798430f7d28d55cf559</string>
</dict>
</plist>